source https://www.nuget.org/api/v2

framework: >= net461
nuget FsLab
nuget Hopac
nuget Akka
nuget Akkling
nuget Akka.Streams
nuget Akkling.Streams

group Build
source https://www.nuget.org/api/v2

nuget FAKE